@using Microsoft.AspNetCore.Identity
@model IEnumerable<GllavicaInventari.Models.Entry>
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Lista e Hyrjeve";
}

<a class="btn btn-success btn-rounded waves-effect waves-light pull-right" asp-action="Create">
    <span class="btn-label"><i class="fa fa-plus"></i></span>
    Shto Hyrje
</a>
<h3>
    Hyrjet nga data <span class="text-success">@ViewBag.DateStart.ToString("dd/MM/yyyy")</span> në datën <span class="text-success">@ViewBag.DateEnd.ToString("dd/MM/yyyy")</span>
</h3>

<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <p class="text-center" id="date_filter">
                <span class="ti-calendar"></span> Nga data <input class="datepicker" type="text" id="entries_datepicker_from" value="@ViewBag.DateStart.ToString("MM-dd-yyyy")" />
                - deri në datën
                <span class="ti-calendar"></span>  <input class="datepicker" type="text" id="entries_datepicker_to" value="@ViewBag.DateEnd.ToString("MM-dd-yyyy")" />
            </p>
            <hr />
            <table id="EntriesTable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nr. i Serisë </th>
                        <th>Nr. fatures </th>
                        <th>Magazina </th>
                        <th>Produkti </th>
                        <th>Hyrja</th>
                        <th>Sasia</th>
                        <th>Cmimi</th>
                        <th>Totali </th>
                        <th>TVSH? </th>
                        <th>Totali me TVSH </th>
                        <th>Furnitori</th>
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <th>Magazinieri</th>
                        }
                        <th class="text-center">Veprime</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a asp-action="BillDetails" asp-route-id="@item.SerialNumber">
                                    <b>@item.SerialNumber</b>
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BillNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WareHouse.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.Title)
                            </td>
                            <td>
                                @item.DateEntry.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalValue)
                            </td>
                            <td>
                                @if (item.HasTVSH)
                                {
                                    <span>PO</span>
                                }
                                else
                                {
                                    <span>JO</span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalValueWithTVSH)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Supplier.Name)
                            </td>
                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                            {
                                <td>
                                    @item.LoggedInUserFullName
                                </td>
                            }
                            <td class="text-center">
                                <a asp-action="Details" asp-route-id="@item.Id"
                                   class="btn btn-icon waves-effect waves-light btn-success">
                                    <i class="fa fa-eye"></i>
                                </a>
                                @if (!item.IsTransfer)
                                {
                                    <a asp-action="Edit" asp-route-id="@item.Id"
                                       class="btn btn-icon waves-effect waves-light btn-default">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                                    {
                                        <a asp-action="Delete" asp-route-id="@item.Id"
                                           class="btn btn-icon waves-effect waves-light btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Content/assets/js/jquery.min.js"></script>
}
