@model GllavicaInventari.Models.Exit

@{
    ViewData["Title"] = "Details";
}

<a class="btn btn-default btn-rounded waves-effect waves-light pull-right" asp-action="Index">
    <span class="btn-label"><i class="fa fa-backward"></i></span>
    Kthehu tek daljet
</a>
<h2>Detajet e daljes me nr. serie: <span class="text-success">@Model.SerialNumber</span> </h2>

<div class="visible-lg" style="height: 25px;"></div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="card-box">
            <div class="visible-lg" style="height: 10px;"></div>

            <div class="text-center">
                <table class="table">

                    <tbody>
                        <tr>
                            <td><b>Nr. i serisë</b></td>
                            <td>@Model.SerialNumber</td>
                        </tr>
                        <tr>
                            <td><b>Produkti</b></td>
                            <td>@Model.Product.Title</td>
                        </tr>
                        <tr>
                            <td><b>Data e daljes</b></td>
                            <td>@Model.DateExit.ToString("dd/MM/yyyy")</td>
                        </tr>
                        <tr>
                            <td><b>Sasia</b></td>
                            <td>@Model.Amount</td>
                        </tr>
                        <tr>
                            <td><b>Cmimi</b></td>
                            <td>@Model.Price</td>
                        </tr>
                        <tr>
                            <td><b>Vlera pa TVSH</b></td>
                            <td>@Model.TotalValue</td>
                        </tr>
                        <tr>
                            <td><b>Ka TVSH?</b></td>
                            <td>
                                @if (Model.HasTVSH){<span>PO</span>}
                                else{ <span>JO</span>}
                            </td>
                        </tr>
                        <tr>
                            <td><b>Vlera me TVSH</b></td>
                            <td>@Model.TotalValueWithTVSH</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="visible-lg" style="height: 10px;"></div>
        </div>

    </div> <!-- end col -->
</div>