@model IEnumerable<GllavicaInventari.ViewModels.StockViewModel>

@{
    ViewData["Title"] = "Te gjithe magazinat";
}

<div class="row">
    @foreach (var warehouse in Model)
    {
    <a class="card-box widget-box-1 col-md-10 col-md-offset-1 col-xs-12 col-lg-10 col-lg-offset-1" asp-action="Details" asp-route-id="@warehouse.Id">
        <p>
            @if (string.IsNullOrEmpty(warehouse.Description))
            {
                <h4 class="font-18 pull-left"> - </h4>
            }
            else
            {
                <h4 class="font-18 pull-left">@warehouse.Description</h4>
            }
            <h4 class="font-18 pull-right">@warehouse.ManagerFullName</h4>
        </p>
        
        <h2 class="text-primary text-center">@warehouse.Name</h2>
        <p class="text-muted">
            Nga @(new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).ToString("dd/MM/yyyy"))
            <span class="pull-right">
                <span class="text-success">Hyrje: @warehouse.EntriesCount</span>
                /
                <span class="text-danger">Dalje: @warehouse.ExitsCount</span>
            </span>
        </p>
    </a>
    }
</div>