@using GllavicaInventari.ViewModels
@model IEnumerable<StockViewModel>

@{
    ViewData["Title"] = "Te gjithe magazinat";
}

<div class="row">
    @foreach (var warehouse in Model)
    {
        @if (@warehouse.StockYear == "2018")
         {
             <a class="card-box widget-box-1 col-md-10 col-md-offset-1 col-xs-12 col-lg-10 col-lg-offset-1" asp-action="StockReport" asp-route-id="@warehouse.Id">
                 <p>
                     <h4 class="font-18 pull-right">@warehouse.ManagerFullName</h4>
                 </p>

                 <h2 class="text-primary text-center">Raport @warehouse.Name - @warehouse.StockYear</h2>
             </a>
        }
         else
         {
             <a class="card-box widget-box-1 col-md-10 col-md-offset-1 col-xs-12 col-lg-10 col-lg-offset-1" asp-action="Details" asp-route-id="@warehouse.Id">
                 <p>
                     <h4 class="font-18 pull-right">@warehouse.ManagerFullName</h4>
                 </p>

                 <h2 class="text-primary text-center">Raport @warehouse.Name - @warehouse.StockYear</h2>
             </a>
         }
    }
</div>