@model NewTransferViewModel

@{
    ViewData["Title"] = "Transferte";
}

<div class="card-box table-responsive">
    <br />
    <div class="col-sm-12 " id="right-side" style="margin-top: 20px;">

        @using (@Html.BeginForm("SaveTransfer", "Transfers", FormMethod.Post, new { @id = "transferId", @data_toggle = "validator" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" value="1" id="products" name="nrproduct" />
            <button type="button" onclick="printTransfer()" class="btn btn-inverse waves-effect waves-light pull-right" style="margin-right: 40px"><i class="md-print" style="font-size:14px"></i> PRINTO</button>
            <div class="panel" id="printPanelId">
                <div class="panel-heading greenelement">
                    <h4 class="panel-title" style="text-align: center; font-weight: 500;font-size:27px;"> <b>Fletë Transfertë</b></h4>
                </div>
                <div class="panel-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-sm-12 col-sm-12 col-lg-12" style="min-height: 250px;border-bottom: 1px solid #cfcfd6;">
                        <div class="form-group col-sm-4">
                            <label class="control-label">Nr. i serisë</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-key" aria-hidden="true"></i>
                                </div>
                                <input type="text" required class="form-control" data-bv-notempty-message="Nr. i serise nuk mund të lihet bosh!" name="documentnumber" value="@Model.SerialNumber">
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Numër fature</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calculator" aria-hidden="true"></i>
                                </div>
                                <input type="text" required class="form-control" data-bv-notempty-message="Numri faturës nuk mund të lihet bosh!" name="billnumber" value="@Model.BillNumber">
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Fature me TVSH?</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-money" aria-hidden="true"></i>
                                </div>
                                <select class="form-control" id="hastvsh-select" name="hastvsh" required title="Zgjidh TVSH..." data-bv-notempty-message="Zgjidh nese fatura ka TVSH!" data-style="btn-default" data-live-search="true">
                                    <option value="true" selected>PO</option>
                                    <option value="false">JO</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label"> Nga magazina </label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="ti-package" aria-hidden="true"></i></span>
                                <select class="form-control" id="from-warehouse-select" name="fromWareHouseId" required title="Zgjidh magazine..." data-bv-notempty-message="Magazina nuk mund të lihet bosh!" data-style="btn-default" data-live-search="true">
                                    @foreach (var item in Model.FromWarehouses)
                                    {
                                        <option value="@item.Id"> @item.Name </option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label"> Tek magazina </label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="ti-package" aria-hidden="true"></i></span>
                                <select class="form-control" id="to-warehouse-select" name="toWareHouseId" required title="Zgjidh magazine..." data-bv-notempty-message="Magazina nuk mund të lihet bosh!" data-style="btn-default" data-live-search="true">
                                    @foreach (var item in Model.ToWarehouses)
                                    {
                                        <option value="@item.Id"> @item.Name </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="body-product">
                        <br />
                        <div class="row col-sm-12 productpack">
                            <div class="form-group col-sm-5" style="padding-right: 0;">
                                <label class="control-label productlabel col-sm-12">
                                    Artikulli
                                    <i class="fa fa-plus-square" style="cursor:pointer" data-url="CreateProductShortForm" data-form="SaveProductForm" data-action="PRODUKT" onclick="CreateElement(this)"></i>

                                </label>
                                <div>
                                    <select name="Product[]" required="required" class="form-control select-product show-tick" title="Zgjidh artikull..." data-live-search="true" data-bv-notempty-message="Artikulli nuk mund të lihet bosh!">
                                        <option value="0" selected disabled hidden>Zgjidh artikull</option>

                                        @foreach (var product in Model.Products)
                                        {
                                            <option value="@product.Id"> @product.Title </option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-sm-2" style="padding-right: 0;">
                                <label class="control-label col-sm-12 quantitylabel"> Sasia </label>
                                <div>
                                    <input type="number" step="any" required="required" name="Quantity[]" data-bv-notempty-message="Sasia nuk mund të lihet bosh!" id="quantityId" class="form-control text-box single-line" onkeyup="calculateValue(this);" onchange="calculateValue(this);checkStock(this)" min="0" />
                                </div>
                            </div>

                            <div class="form-group col-sm-2" style="padding-right: 0;">
                                <label class="control-label col-sm-12 pricelabel"> Cmimi </label>
                                <div>
                                    <input type="number" name="Price[]" required="required" step="any" id="priceId" class="form-control text-box single-line" min="0" data-bv-notempty-message="Cmimi nuk mund të lihet bosh!" onkeyup="calculateValue(this);" onchange="calculateValue(this)" />
                                </div>
                            </div>
                            <div class="form-group col-sm-2" style="padding-right: 0;">
                                <label> Vlera </label>
                                <input type="text" readonly="readonly" name="SubtotalValue[]" id="valueid" class="form-control text-box single-line" min="0" style="background: white;" />
                            </div>
                            <button type="button" class="btn pull-right remove  btn-responsive button-alignment btn-danger active" onclick="removeProduct(this)" style="margin-bottom:7px;    margin-top: 25px;" data-toggle="button" aria-pressed="true"><i class="fa fa-minus" aria-hidden="true"></i> </button>
                        </div>

                    </div>

                    <div class="col-sm-3 pull-right" style="margin-top: 10px;">
                        <button id="btnAddItem" type="button" class="btn pull-right btn-success waves-effect waves-light" onclick="addProduct(this)" style="margin-bottom:7px;" data-toggle="button" aria-pressed="true"><i class="fa fa-plus" aria-hidden="true"></i> Shto artikull</button>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="col-sm-12" style="min-height: 70px;  border-bottom: 1px solid #cfcfd6;">
                        <div class="col-sm-3 pull-right">
                            <label><strong> Totali pa TVSH</strong></label>
                            <input type="text" readonly class="form-control" name="Model.Header.total" id="totalId">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-sm-12" style="margin-top:20px;">
                            <button id="btnSubmit" onclick="submitTransfer()" type="button" class="btn btn-inverse waves-effect waves-light pull-right" style="margin-bottom:7px;" data-toggle="button"><i class="md-save"></i> Regjistro Transferten</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        function printTransfer() {
            $('#printPanelId').printThis({ importCSS: true, importStyle: true, copyTagClasses: true });
        }
        function submitTransfer() {
            $('#transferId').data('bootstrapValidator').destroy();
            //validator.destroy();
            $("#transferId").bootstrapValidator();
            //var validator =
            $('#transferId').data('bootstrapValidator').validate();
            //validator.validate();
            console.log($('#transferId').data('bootstrapValidator').isValid());
            if ($('#transferId').data('bootstrapValidator').isValid()) {
                document.getElementById("transferId").submit()
            }
        }

        function addProduct() {
            //var validator = $('#transferId').data('bootstrapValidator');
            $('#transferId').data('bootstrapValidator').destroy();
            $("#transferId").bootstrapValidator();
            //var validator = $('#transferId').data('bootstrapValidator');
            $('#transferId').data('bootstrapValidator').validate();
            if ($('#transferId').data('bootstrapValidator').isValid()) {

                $('#transferId').data('bootstrapValidator').destroy();
                $("#transferId").bootstrapValidator();
                //var packing = $('.productpack').last();
                $('.productpack').last().find('.select-product').select("destroy").end();
                //var clone = packing.clone();
                //var lastprod = $(".productpack").last();
                $('.productpack').last().clone().find('input').val('');
                $('.productpack').last().clone().find('.select-product').select();
                $('.productpack').last().clone().find('.select-product').last().next().next().remove();

                $('.productpack').last().clone().insertAfter($(".productpack").last());
                var nr = $("#products").val();
                nr++;
                $("#products").val(nr);


            }
            else {
                $.Notification.notify('warning', 'top center', 'Kujdes!', 'Jepni vlera per te gjitha fushat e detyrueshme!');
            }
        }

        function removeProduct(a) {
            if ($("#products").val() > 1) {
                var allproducts = $(a).parent().parent().parent();
                $(a).parent().remove();
                var nr = $("#products").val();
                nr--;
                $("#products").val(nr);
                var subtotal = 0;
                var total = 0;

                allproducts.find(".productpack").each(function () {
                    var quantity = parseFloat($(this).find("#quantityId").val());
                    var price = parseFloat($(this).find("#priceId").val());
                    var hasTVSH = parseInt($(this).find("#tvshid").val());

                    subtotal = quantity * price;

                    if (subtotal)
                        total += subtotal;
                });
                $("#totalId").val(total.toFixed(2));
            }
            else {
                $.Notification.notify('warning', 'top center', 'Kujdes!', 'Duhet minimalisht një artikull për të proceduar me hyrjen!');
            }

        }


        //checkavailability
        function checkStock(a) {
            var fromWareHouseId = $('#from-warehouse-select').val();
            var productId = $('.productpack').last().find('.select-product').val()
            var amount = $('#quantityId').last().val();

            console.log("Warehouse Id = " + fromWareHouseId + ", ProductId = " + productId + ", Amount = " + amount)

            if (amount && fromWareHouseId && productId) {
                $.post("ConfirmTransfer", {
                    amount: $('#quantityId').last().val(),
                    productId: $('.productpack').last().find('.select-product').val(),
                    fromWareHouseId: $('#from-warehouse-select').val()
                }, function (data) {
                    //console.log("Gjendje = " + data + " , Sasia = ", amount);
                    if (data >= amount) {
                        $.Notification.notify('success', 'top center', 'Aprovuar!', "Ju do mbeteni me " + (data - amount) + " njesi ne gjendje!");
                        //$("#btnAddItem").prop("disabled", false);
                        //$("#btnSubmit").prop("disabled", false);

                    }
                    else {
                        $.Notification.notify('error', 'top center', 'Kujdes!', "Gjendja është " + data + " njësi!");
                        //$("#btnAddItem").prop("disabled", true);
                        //$("#btnSubmit").prop("disabled", true);
                    }
                })
            }
        }

        function calculateValue(a) {
            var b = $(a).parent().parent().parent();
            var q = parseFloat(b.find("#quantityId").val());
            var p = parseFloat(b.find("#priceId").val());
            var hasTVSH = parseInt(b.find("#tvshid").val())


            var d = p * q;
            if (p && q) {
                var d = p * q;
                var t = d + d * 0.20;
                b.find("#valueid").val(d.toFixed(2));
                if (hasTVSH == 1) {
                    b.find("#valueidwithtvsh").val(t.toFixed(2))
                } else {
                    b.find("#valueidwithtvsh").val(d.toFixed(2))
                }
            }
            var b = $(a).parent().parent().parent();
            var allproducts = b.parent();
            var subtotal = 0;
            var total = 0;

            allproducts.find(".productpack").each(function () {
                var quantity = parseFloat($(this).find("#quantityId").val());
                var price = parseFloat($(this).find("#priceId").val());
                var hasTVSH = parseInt($(this).find("#tvshid").val());

                subtotal = quantity * price;

                if (subtotal)
                    total += subtotal;

            });
            $("#totalId").val(total.toFixed(2));
        }
    </script>
}